html {
  background: #fef9f5; /* Lavender Blush */
  color: #684a6b; /* BRITISH STANDARD 4800 Regal violet / Regalia */
}

@media (prefers-color-scheme: dark) {
  /* Code for Dark Mode. */

  html {
    background: #684a6b; /* BRITISH STANDARD 4800 Regal violet / Regalia */
    color: #fef9f5; /* Lavender Blush */
  }
}

/*
 *  Change text-selection colour to "Vivid Tangerine" from Onion Blush.
 *  This probably doesn't work in Internet Explorer, but that's okay.
 *  Source: https: //www.w3schools.com/cssref/sel_selection.asp
 */

::selection {
  background: #ffa69e; /* Vivid Tangerine */
}

::-moz-selection {
  /* Firefox compatibility */
  background: #ffa69e; /* Vivid Tangerine */
}
