html {
        background: #fef9f5;                        /* Lavender Blush */
        color: #130303;                                    /* Xiketic */
    }

    @media (prefers-color-scheme: dark) {      /* Code for Dark Mode. */
        html {
                background: #130303;                       /* Xiketic */
                color: #fef9f5;                     /* Lavender Blush */
            }
        }


/*
 *  Change text-selection colour to "Vivid Tangerine" from Onion Blush.
 *  This probably doesn't work in Internet Explorer, but that's okay.
 *  Source: https: //www.w3schools.com/cssref/sel_selection.asp
 */

::selection {
        background: #ffa69e;                       /* Vivid Tangerine */
    }

::-moz-selection {                           /* Firefox compatibility */
        background: #ffa69e;                       /* Vivid Tangerine */
    }
