html {
    margin-left: 10%;
    margin-right: 10%;
}

.header {
    text-align: center;
    margin-left: -24pt;                 /* Extends divider past text. */
    margin-right: -24pt;                /* Extends divider past text. */
    padding-bottom: 10pt;
    padding-top: 24pt;
    border-bottom: 2px solid #9a8f97;              /* Heliotrope Gray */
}

    .header a {
        border-bottom: 0;
    }

.emoji-header {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 24pt;
    line-height: 30pt;
}

    .emoji-header a {
        border-bottom: none;     /* Removes bottom border from emoji. */
        color: #313533;       /* Changes font = and + to text colour. */
        padding-left: 8pt;
        padding-right: 8pt;
        border-radius: 5px;
    }

    .emoji-header img {
        margin-left: -2px;              /* Tightens up emoji spacing. */
        margin-right: -2px;             /* Tightens up emoji spacing. */
    }

nav {
    background: #f9e0d9;                               /* Misty Rose. */
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #9a8f97;                 /* Heliotrope Gray */
    border-bottom: 2px solid #9a8f97;              /* Heliotrope Gray */
}

.onion-search {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .onion-search input {
        font-size: 12pt;
        font-weight: 500;
        font-family: 'IBM Plex Mono',
                      serif;
        color: #313533;                                       /* Onyx */
        background-color: #f9e0d9;                      /* Misty Rose */
        border: 2px solid #313533;                            /* Onyx */
        border-radius: 5px;
        padding-left: 5px;         /* So query text doesn't hit edge. */
        padding-right: 5px;        /* So query text doesn't hit edge. */
        display: block;                     /* Do we need this again? */
        margin-left: auto;                  /* Do we need this again? */
        margin-right: auto;                 /* Do we need this again? */
    }
        @media (prefers-color-scheme: dark) {   /* Code for Dark Mode */
            .onion-search input {
                color: #f9e0d9;                         /* Misty Rose */
                background: #313533;                          /* Onyx */
                border: 2px solid #f9e0d9;              /* Misty Rose */
            }
   }

footer {
    font-family: 'IBM Plex Sans',
                  sans-serif;
    text-align: center;
    background: #f9e0d9;                               /* Misty Rose. */
    margin-left: -24pt;                 /* Extends divider past text. */
    margin-right: -24pt;                /* Extends divider past text. */
    margin-top: 24pt;
    padding-bottom: 24pt;
    padding-top: 12pt;
    border-top: 2px solid #9a8f97;                 /* Heliotrope Gray */
}

    .footer a {
        border-bottom: 0;
    }

.infobox {
/*  This is a special paragraph class that produces a Misty Rose
 *  coloured paragraph with a Heliotrope border on the left.  It's
 *  similar to a blockquote, but used for authorial and editorial notes
 *  rather than actual blockquotes.
 */
    font-style: italic;
    background: #f9e0d9;
    border-left: 10pt solid #9a8f97;               /* Heliotrope Grey */
    border-radius: 5px;
    padding: 12pt;                 /* 12pt padding on all four sides. */
    margin-bottom: 28pt;        /* Keep a nice gap after the infobox. */
}
    @media (prefers-color-scheme: dark) {       /* Code for Dark Mode */
        .infobox {
            color: #fef9f5;
            background: rgba(154, 143, 151, 0.4);
            border-left: 10pt solid #ff7b00;        /* Orange Samson! */
        }
    }

    .infobox + p {
    /*  This code avoids indenting the first line of any paragraph that
     *  immediately follows an infobox.  Without it, it's treated by the
     *  browser as a normal p + p and indents the first line.
     */
        text-indent: 0;
    }

    p + .infobox {
    /*  This code is for an infobox that comes *after* a standard
     *  paragraph.  It serves two purposes: it removes the indent on the
     *  first line of the infobox (nullifying the usual p+p rule); and
     *  it ensures sufficient space between the bottom of the paragraph
     *  and top of the infobox.  The value is 20pt rather than the 28pt
     *  following an infobox because this gives a more even appearance
     *  of spacing.
     */
        text-indent: 0;
        margin-top: 20pt;
    }

    .infobox strong {
    /* I intended this mostly to be used for the word "Note" leading a
     * paragraph in the infobox.  The hanging indent is designed
     * specifically for that use case.
     */
        font-family: 'IBM Plex Sans',
                      sans-serif;
        font-weight: 700;
    }

    .infobox em {
    /* This makes an <em> inside an infobox into roman. */
        font-style: normal;
    }

    .infobox code {
        background: none;    /* No background colour on infobox code. */
    }

video {
    border: 20px ridge #ff7b00;                     /* Orange Samson! */
    border-radius: 20px;
}
