html {
    color: var(--Onyx);
    background: var(--Isabelline);
    margin-top:    0;
    margin-bottom: 0;
}
    @media (prefers-color-scheme: dark) {      /* Code for Dark Mode. */
        html {
            background: var(--Onyx);
            color: var(--Misty-Rose);
            }
        }


header {
    text-align: center;
    padding-top: 112px;
    /* margin-left:   -24pt; */               /* Extends divider past text. */
    /* margin-right:  -24pt; */               /* Extends divider past text. */
    /* padding-bottom: 10pt; */
    /* padding-top:    24pt; */
}
    header a {
        border-bottom: 0;
    }

.emoji-header {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size:    24pt;
    line-height:  30pt;
}

    .emoji-header a {
        color: var(--Onyx);   /* Changes font = and + to text colour. */
        border-bottom: 0;        /* Removes bottom border from emoji. */
        padding-left:  8pt;
        padding-right: 8pt;
    }
        @media (prefers-color-scheme: dark) {   /* Code for Dark Mode */
            .emoji-header a {
                color: var(--Misty-Rose);
            }
        }

    .emoji-header img {
        margin-left:  -2px;             /* Tightens up emoji spacing. */
        margin-right: -2px;             /* Tightens up emoji spacing. */
    }

/*  ╔╗╔╔═╗╦  ╦╦╔═╗╔═╗╔╦╗╦╔═╗╔╗╔
 *  ║║║╠═╣╚╗╔╝║║ ╦╠═╣ ║ ║║ ║║║║
 *  ╝╚╝╩ ╩ ╚╝ ╩╚═╝╩ ╩ ╩ ╩╚═╝╝╚╝
 *  Caramelised Nav Bar: sticks to the top of the page while scrolling.
 */

nav {
    position: fixed;
    z-index:  10;
    display:  flex;
    align-items: center;                       /* Vertical alignment. */
    justify-content: center;                 /* Horizontal alignment. */
    flex-wrap: wrap;
    background: var(--Misty-Rose);
    width: 100% !important;
    margin-left: -10% !important;       /* Extends divider past text. */
    /* margin-right: ?; Extends divider past text. */
    border-top:     2px solid var(--Heliotrope-Gray);
    border-bottom:  2px solid var(--Heliotrope-Gray);
}
    nav a {
        border-bottom: 0;                /* Get rid of the underline. */
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
        font-size: 18pt;
        font-weight: 500;
        font-family: 'IBM Plex Sans',
                      sans-serif;
    }


.onion-search {
    display: flex;
    margin-top: 18px;
}
    .onion-search input {
        font-size: 12pt;
        font-weight: 500;
        font-family: 'IBM Plex Mono',
                      serif;
        color: var(--Onyx);
        background-color: var(--Misty-Rose);
        border: 2px solid var(--Onyx);
        border-radius: 5px;
        padding-left:  5px;        /* So query text doesn't hit edge. */
        padding-right: 5px;        /* So query text doesn't hit edge. */
        display: block;                     /* Do we need this again? */
        margin-left:  auto;                 /* Do we need this again? */
        margin-right: auto;                 /* Do we need this again? */
    }
        @media (prefers-color-scheme: dark) {   /* Code for Dark Mode */
            .onion-search input {
                color: var(--Misty-Rose);
                background: var(--Onyx);                               
                border: 2px solid var(--Misty-Rose);
            }
   }

footer {
    font-family: 'IBM Plex Sans',
                  sans-serif;
    text-align: center;
    background: var(--Misty-Rose);
    margin-left:   -24pt;               /* Extends divider past text. */
    margin-right:  -24pt;               /* Extends divider past text. */
    margin-top:     24pt;
    padding-bottom: 24pt;
    padding-top:    12pt;
    border-top: 2px solid var(--Heliotrope-Gray);
}
    footer a {
        border-bottom: 0;
    }

.infobox {
/*  This is a special paragraph class that produces a Misty Rose
 *  coloured paragraph with a Heliotrope border on the left.  It's
 *  similar to a blockquote, but used for authorial and editorial notes
 *  rather than actual blockquotes.
 */
    font-style: italic;
    background: var(--Misty-Rose);
    border-left: 10pt solid var(--Heliotrope-Gray);
    border-radius:  5px;
    margin-bottom: 28pt;        /* Keep a nice gap after the infobox. */
    padding:       12pt;           /* 12pt padding on all four sides. */
}
    @media (prefers-color-scheme: dark) {       /* Code for Dark Mode */
        .infobox {
            color: var(--Isabelline);
            background: rgba(154, 143, 151, 0.4);
            border-left: 10pt solid var(--Orange-Samson);
        }
    }

    .infobox + p {
    /*  This code avoids indenting the first line of any paragraph that
     *  immediately follows an infobox.  Without it, it's treated by the
     *  browser as a normal p + p and indents the first line.
     */
        text-indent: 0;
    }

    p + .infobox {
    /*  This code is for an infobox that comes *after* a standard
     *  paragraph.  It serves two purposes: it removes the indent on the
     *  first line of the infobox (nullifying the usual p+p rule); and
     *  it ensures sufficient space between the bottom of the paragraph
     *  and top of the infobox.  The value is 20pt rather than the 28pt
     *  following an infobox because this gives a more even appearance
     *  of spacing.
     */
        text-indent: 0;
        margin-top: 20pt;
    }

    .infobox strong {
    /* I intended this mostly to be used for the word "Note" leading a
     * paragraph in the infobox.  The hanging indent is designed
     * specifically for that use case.
     */
        font-family: 'IBM Plex Sans',
                      sans-serif;
        font-weight: 700;
    }

    .infobox em {
    /* This makes an <em> inside an infobox into roman. */
        font-style: normal;
    }

    .infobox code {
        background: 0;       /* No background colour on infobox code. */
    }

video {
    border: 20px ridge var(--Orange-Samson);
    border-radius: 20px;
}
