html {
    margin-left: 10%;
    margin-right: 10%;
}

.header {
    text-align: center;
    margin-left: -24pt;             /* Extends divider past text. */
    margin-right: -24pt;            /* Extends divider past text. */
    padding-bottom: 10pt;
    padding-top: 24pt;
    border-bottom: 2px solid #9a8f97;          /* Heliotrope Gray */
}

.onion-search {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.emoji-header {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 24pt;
    line-height: 30pt;
}

    .emoji-header a {
        border-bottom: none;     /* Removes bottom border from emoji. */
        color: #313533;       /* Changes font = and + to text colour. */
    }

    .emoji-header img {
        margin-left: -2px;              /* Tightens up emoji spacing. */
        margin-right: -2px;             /* Tightens up emoji spacing. */
    }

.footer {
    font-family: 'IBM Plex Sans',
                  sans-serif;    /* Add a bigger stack if you want.*/
    text-align: center;
    margin-left: -24pt;             /* Extends divider past text. */
    margin-right: -24pt;            /* Extends divider past text. */
    margin-top: 24pt;
    padding-bottom: 24pt;
    padding-top: 12pt;
    border-top: 2px solid #9a8f97;             /* Heliotrope Gray */
}

    .footer a {
        border-bottom: 0;
    }

