a {
    color: #ff7b00;                              /* Orange Samson! */
    font-family: 'IBM Plex Sans',
                  sans-serif;    /* Add a bigger stack if you want.*/
    text-decoration: none;          /* This removes underlining... */
    border-bottom: 2px solid #ff7b00;   /* ...this does it better. */
    padding-left: 2pt;       /* Just a tiny bit of breathing room. */
    padding-right: 2pt;      /* Just a tiny bit of breathing room. */
}

a:hover {
    color: #313533;                                /* Onyx text... */
    background: #ff7b00;         /* ...on an Orange Samson ground. */
    border-radius: 5px;
    transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: ease;
}
    @media (prefers-color-scheme: dark) {      /* Code for Dark Mode. */
        a:hover {
            color: #f9e0d9;                     /* Misty Rose */
        }
    }

a.site_title_text {
    font-family: 'OnionSams-Regular',
                  cursive;           /* There's a generic cursive! */
    font-size: 69pt;
    color: #313533;                                       /* Onyx. */
    border-bottom: none;              /* Get rid of the underline. */
    transition-duration: 0.5s;
    transition-property: color;
    transition-timing-function: linear;
}
    @media (prefers-color-scheme: dark) {      /* Code for Dark Mode. */
        a.site_title_text {
            color: #f9e0d9;                     /* Misty Rose */
            }
        }

a.site_title_text:hover {
    color: #ff7b00;              /* Change hover to Orange Samson. */
    background: none;    /* And remove background colour on hover. */
}

a.site_title_emoji {
    font-size: 24pt;
    color: #313533;                                       /* Onyx. */
    border-bottom: none;              /* Get rid of the underline. */
}
    @media (prefers-color-scheme: dark) {      /* Code for Dark Mode. */
        a.site_title_emoji {
            color: #f9e0d9;                     /* Misty Rose */
            }
        }

a.site_title_emoji:hover {
    color: #ff7b00;              /* Change hover to Orange Samson. */
    background: none;    /* And remove background colour on hover. */
}

a.onion-dollars::after {
    content: url(https://onionsamson.com/elements/yoshi.png);
    margin: 0;               /* Tightens this up nicely. */
    padding: 0;              /* Tightens this up nicely. */
}

a.home-link::before{
    content: url(https://onionsamson.com/elements/pipe.png);
    margin: 0;               /* Tightens this up nicely. */
    padding: 0;              /* Tightens this up nicely. */
}



.post-header {
    background-image: url("https://onionsamson.com/featured/sor_title.png");
    background-size: cover; /* Stretch to fit */
    padding-top: 144px;
    padding-left: 12pt;
    padding-right: 12pt;
}
    .post-header h1 {
        color: white;
        margin-bottom: 5pt;
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    }
        .post-header h1 a {
            color: white;
            border: 0;
        }

    .post-metadata {
        font-family: 'IBM Plex Sans';
                      sans-serif;
        /* Shrink font for metadata. */
        font-size: 12pt;
        color: white;
        /* A black text shadow makes the white text legible against the 
         * black and white image beneath. */
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
        padding-top: 6pt;
        padding-bottom: 6pt;
        padding-left: 12pt;
        padding-right: 12pt;
    }
    
    a.category-link {
    /* Just a lazy clone of the code for tag link for the time being.
     * We should probably try to improve this... somehow.  I'm drawing
     * a bit of a blank just now.
     */
        color: #313533;                             /* Onyx */
        /* You need to specify exactly no shadow to remove it. */
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        background: #ff7b00;
        /* This border is a cheat to stop it moving on hover. */
        border: 2px solid #ff7b00;
        border-radius: 5px;
        border-bottom: none;
        padding-left: 3pt;
        padding-right: 3pt;
    }
        a.category-link:hover {
            background: #f9e0d9;                    /* Misty Rose */
            border: 2px solid #f9e0d9;              /* Misty Rose */
        }
    
    a.tag-link {
        color: #313533;                             /* Onyx */
        /* You need to specify exactly no shadow to remove it. */
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        background: #ff7b00;
        /* This border is a cheat to stop it moving on hover. */
        border: 2px solid #ff7b00;
        border-radius: 5px;
        border-bottom: none;
        margin-right: 4pt;          /* Space them out a little. */
        padding-left: 3pt;
        padding-right: 3pt;
    
    }
        a.tag-link:hover {
            background: #f9e0d9;                    /* Misty Rose */
            border: 2px solid #f9e0d9;              /* Misty Rose */
        }
        a.tag-link::before {
            content: url(feather.png);
        }

    a.permalink-link {
        font-family: 'IBM Plex Mono',
                      monospace;
        color: #313533;                             /* Onyx */
        /* You need to specify exactly no shadow to remove it. */
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        background: #ff7b00;
        /* This border is a cheat to stop it moving on hover. */
        border: 2px solid #ff7b00;
        border-radius: 5px;
        margin-right: 3pt;
        padding-left: 3pt;
        padding-right: 3pt;
    }
        a.permalink-link:hover {
            background: #f9e0d9;                    /* Misty Rose */
            border: 2px solid #f9e0d9;              /* Misty Rose */
        }
        a.permalink-link::before {
            content: url(key.png);
        }
    
a.external-link::after {
    content: url(sign.png);
    margin: 0;               /* Tightens this up nicely. */
    padding: 0;              /* Tightens this up nicely. */
}
