a {
    color: var(--Orange-Samson);                    /* Orange Samson! */
    font-family: 'IBM Plex Sans',
                  sans-serif;
    text-decoration: none;             /* This removes underlining... */
    border-bottom: 2px solid var(--Orange-Samson); /* This is better. */
    padding-left:  2pt;         /* Just a tiny bit of breathing room. */
    padding-right: 2pt;         /* Just a tiny bit of breathing room. */
}

a:hover {
    color: var(--Onyx);
    background: var(--Orange-Samson);     /* ...Orange Samson ground. */
    border-radius: 5px;
    transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: ease;
}

a:active {
/*  I think an :active state is actually quite useful from a usability
 *  point of view, and improves the (desktop) experience of using the
 *  website.  The "Minion Yellow" colour is the :hover colour used on
 *  KORALATOV.COM, but actually works quite well here; it has good
 *  contrast with Orange Samson while still blending in with the theme.
 */
    background: var(--Minion-Yellow);
/*  The !important flag is needed to override the transition; without
 *  it, it uses the same transition as the main hover. */
    transition: none !important;
}

a.site_title_text {
    font-family: 'OnionSams-Regular',
                  cursive;              /* There's a generic cursive! */
    font-size: 69pt;
    color: var(--Onyx);
    border-bottom: none;                 /* Get rid of the underline. */
    transition-duration: 0.5s;
    transition-property: color;
    transition-timing-function: linear;
}
    @media (prefers-color-scheme: dark) {      /* Code for Dark Mode. */
        a.site_title_text {
            font-family: 'OnionVamp',
                          cursive;
            color: var(--Misty-Rose);
            }
        }

a.site_title_text:hover {
    color: var(--Orange-Samson);    /* Change hover to Orange Samson. */
    background: none;       /* And remove background colour on hover. */
}

a.site_title_emoji {
    font-size: 24pt;
    color: var(--Onyx);
    border-bottom: none;                 /* Get rid of the underline. */
}
    @media (prefers-color-scheme: dark) {      /* Code for Dark Mode. */
        a.site_title_emoji {
            color: var(--Misty-Rose);
            }
        }

a.site_title_emoji:hover {
    color: var(--Orange-Samson);    /* Change hover to Orange Samson. */
    background: none;       /* And remove background colour on hover. */
}

a.onion-dollars::after {
/*  This is the code for affiliate links.  It appends the Onion coin
 *  image after the link.  Spacing between the coin and the link text
 *  is set by the image's transparent pixels.  This link style needs
 *  to be explicitly used by adding the code 'class="onion-dollars"'
 *  to the <a> tag.
 * /
    content: url(https://files.koralatov.com/os/elements/onion-coin.png);
    margin:  0;                           /* Tightens this up nicely. */
    padding: 0;                           /* Tightens this up nicely. */
}
    a.onion-dollars:hover::after {
    /*  Hover effect for affiliate links.  It replaces the coin with an
     *  identically sized animated PNG (APNG) file that shimmers like
     *  the Yoshi Coin in 'Super Mario World'; it uses exactly the same
     *  colour sequence.  This *does not* work in any version of
     *  Internet Explorer or the pre-Chromium versions of Microsoft
     *  Edge.  It does fall back gracefully to the original PNG image in
     *  those, so there's no ugly failure state with this.  Win-win!
     */
        content: url(https://files.koralatov.com/os/elements/onion-coin-shimmer.png);
    }

a.home-link::before{
/*  This is a one-off style for the 'Home' link at the bottom of the
 *  page.  It adds a custom orange warp-pipe before the text.  As with
 *  the Onion dollar, spacing is handled by transparent pixels in the
 *  image itself.  The customer hover state is handled by the subsequent
 *  CSS.  It's invoked using the "home-link" class.
 *
 *  The image is encoded in base64 and included inline in the CSS.  This
 *  reduces the number of requests by one, and means it'll be cached
 *  when the CSS file is cached.
 */
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAVBAMAAABS0hjfAAAAElBMVEUAAAAPDw/3uQD3dQD3RQAAAABfNzNeAAAAAXRSTlMAQObYZgAAAFlJREFUCNedzrENgDAMRNFkAy5kAUxYALOAUSZA8v6r4AtNan715MK6NIdoIbJEG1EOdxeETo8eo3hrQxL1oV31phIo45sVqlaHBKj9k17tp0AZlUsI0+apF+ZCFGfRjfViAAAAAElFTkSuQmCC);
    margin:  0;                           /* Tightens this up nicely. */
    padding: 0;                           /* Tightens this up nicely. */
}
    a.home-link:hover::before {
    /*  And this is the pipe’s hover effect: a glowing, illuminated
     *  entrance to the pipe.  It replaces the pipe with an identically
     *  sized animated PNG (APNG) file that appears to shimmer.  It's a
     *  subtle effect and not very noticeable unless you're zoomed in on
     *  the icon; it's a little more noticeable in dark mode.  This
     *  *does not* work in any version of Internet Explorer or the
     *  pre-Chromium versions of Microsoft Edge.  It falls back
     *  gracefully to the original PNG image in those, so there's no
     *  ugly failure state with this.  Win-win!
     *
     *  The image is encoded in base64 and included inline in the CSS.
     *  This reduces the number of requests by one, and means it'll be
     *  cached when the CSS file is cached.
     */
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAVBAMAAABS0hjfAAAACGFjVEwAAAAGAAAAAAYNNbAAAAAeUExURQAAAA0NDfOsCfJfCPItB///3P//p///f///Zv//AGcYKnsAAAABdFJOUwBA5thmAAAAGmZjVEwAAAAAAAAAEQAAABUAAAAAAAAAAAAUAGQAAG1qDy4AAABXSURBVAjXncixFYAgDEVR2MCPTBBpbI0L4GFCu2xrfii09lX3vPQtA5goIoLAbmZkPsy7O8XXQuKN0KZ6UQlUX1wrVHsNCVDHlJ7tp0B1KhcXEoPn6+0Bm6gXF3MzfdUAAAAaZmNUTAAAAAEAAAAJAAAAAwAAAAQAAAADABQAZAABfFTRQQAAABhmZEFUAAAAAgjXY2AvLy9nYCgHggIIGwAugAUlj3+1JAAAABpmY1RMAAAAAwAAAAkAAAADAAAABAAAAAMAFABkAAGRwgKoAAAAGGZkQVQAAAAECNdjYEtLS2NgSAOCBAgbACfeBGnrs3TJAAAAGmZjVEwAAAAFAAAACQAAAAMAAAAEAAAAAwAUAGQCAU4+ElAAAAAYZmRBVAAAAAYI12NgDQ0NZWAIBYIACBsAITwDrYBeipEAAAAaZmNUTAAAAAcAAAABAAAAAQAAAAAAAAAAABQAZAAAxo9WpgAAAA5mZEFUAAAACAjXY2AAAAACAAFyka9nAAAAGmZjVEwAAAAJAAAACQAAAAMAAAAEAAAAAwAUAGQAAXztkmcAAAAYZmRBVAAAAAoI12Pg6OjoYGDoAIIGCBsANSIF4VygwlwAAAAASUVORK5CYII=);
    }

.post-header-wrapper {
    background-image: url("https://files.koralatov.com/os/featured/sor_title.png");
    background-size: cover;                         /* Stretch to fit */
    padding-top: 144px;
}
.post-header {
/*  This code applies a linear black gradient to the post header section
 *  to increase legibility of the post title and metadata.  This is the
 *  W3C compliant version that's compatible with browsers newer than
 *  Internet Explorer 10, Firefox 16, Chrome 26, and Safari 7.  The
 *  oldest of these -- Safari 7 -- came out in 2013, meaning any browser
 *  newer than this will support it.  For clarity and maintainability,
 *  I've stripped out the code to support older browsers.
 */
    background:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, .75) 100%);
}
    .post-header h1 {
        color: #ffffff;
        margin-bottom:  5pt;
        padding-left:  22px;
        padding-right: 22px;
    /*  A black text shadow makes the white text legible against the
     *  black-and-white image beneath.
     */
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    }
        .post-header h1 a {
            color: #ffffff; /* Header title link should be white too. */
            border: 0;         /* And it shouldn't have an underline. */
        }

    .post-metadata {
    /*  This code styles the post's metadata that sits on top of the
     *  header image.  To visually reinforce that this information is
     *  secondary to the body text, it's smaller.  To differentiate
     *  further, it's in Plex Sans.
     */
        font-family: 'IBM Plex Sans',
                      sans-serif;
        font-size: 12pt;
        color: #ffffff;     /* As with title, this text is white too. */
    /*  A black text shadow makes the white text legible against the
     *  black-and-white image beneath.  This has a tighter shadow
     *  than the post title to increase legibility on the smaller text.
     */
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
        padding-top:     6pt;
        padding-bottom:  6pt;
        padding-left:   44px;
        padding-right:  44px;
    }

    a.category-link {
    /*  Just a lazy clone of the code for tag link for the time being.
     *  We should probably try to improve this... somehow.  I'm drawing
     *  a bit of a blank just now.
     */
        color: var(--Onyx);
        /* You need to specify exactly no shadow to remove it. */
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        background: var(--Orange-Samson);
        /* This border is a cheat to stop it moving on hover. */
        border: 2px solid var(--Orange-Samson);
        border-radius: 5px;
        border-bottom: none;
        padding-left:  3pt;
        padding-right: 3pt;
    }
        a.category-link:hover {
            background: var(--Misty-Rose);
            border: 2px solid var(--Misty-Rose);
        }

    a.tag-link {
    /*  This link style is for tags.  It adds a Cape Feather icon before
     *  link text itself.  This link style needs to be explicitly used
     *  by adding the code 'class="tag-link"' to the <a> tag.
     */
        color: var(--Onyx);
        /* You need to explicitly specify no shadow to remove it. */
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        background: var(--Orange-Samson);
        /* This border is a cheat to stop it squirming on hover. */
        border: 2px solid var(--Orange-Samson);
        border-radius: 5px;
        border-bottom: none;
        margin-left:   4pt;               /* Space them out a little. */
        padding-left:  3pt;
        padding-right: 3pt;

    }

    a.tag-link:hover {
      /*  To increase legibility on hover against the dark background,
       *  these hover with a Misty Rose background colour.  It inherits
       *  the transition effect of the main links and has an interesting
       *  slow border transition.
       */
            background: var(--Misty-Rose);
            border: 2px solid var(--Misty-Rose);
        }
        a.tag-link::before {
          /*  This is 'feather.png' image is encoded in base64 and
           *  included inline in the CSS.  This reduces the number of
           *  requests by one, and means it'll be cached when the CSS
           *  file is cached.
           */
            content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQBAMAAADkNkIoAAAAElBMVEUAAAD4+PgAAwD4eAD4wAD4+ADBvoCJAAAAAXRSTlMAQObYZgAAAFFJREFUCNc9zsERwCAIRFGHDlYswKAVSAVJB+m/mRjZgdObvxfKObFeqLGMHOqkqPoKXkmBvugR0dx7RNyo3BtyZ9z8I5mxTFRGefKVucGz1AfjmgfM5yT9RgAAAABJRU5ErkJggg==);
        }

    a.permalink-link {
    /*  This class is badly/confusingly named, so we should probably
     *  clear it up by giving it a better name.  It's used to style the
     *  full permalink in the metadata section in monospaced, and preend
     *  a key icon before the link itself.
     */
        font-family: 'IBM Plex Mono',
                      monospace;
        color: var(--Onyx);
        /* You need to explicitly specify no shadow to remove it. */
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        background: var(--Orange-Samson);
        /* This border is a cheat to stop it squirming on hover. */
        border: 2px solid var(--Orange-Samson);
        border-radius: 5px;
        margin-right:  3pt;
        padding-left:  3pt;
        padding-right: 3pt;
    }
        a.permalink-link:hover {
        /*  To increase legibility on hover against the dark background,
         *  these hover with a Misty Rose background colour.  It
         *  inherits the transition effect of the main links and has an
         *  interesting slow border transition.
         */
            background: var(--Misty-Rose);
            border: 2px solid var(--Misty-Rose);
        }
        a.permalink-link::before {
        /*  This is 'key.png' encoded in base64 and included inline in
         *  the CSS.  This reduces the number of requests by one, and
         *  means it'll be cached when the CSS file is cached.
         */
            content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQBAMAAAD+CqKmAAAAElBMVEUAAAAAAADYoDiIWBf42HH4+PiO5pG2AAAAAXRSTlMAQObYZgAAAF1JREFUCNdVz8ENwCAIBVDdQFIdQHCBygQ2TtDU/VcpB0H9J96BH3AOIDiNH70Z0osUDFgXIl0bsieQGMb4mqH0vlARs4GZ762AZkFJFPxsj/gIWIEywTxUlyXHCz8Z0ww5LEPIFQAAAABJRU5ErkJggg==);
        }

a.external-link::after {
/*  This link class pops a little sign with an arrow pointing toward the
 *  right immediately after a link that uses the "external-link" class.
 *  It is, as the name suggests, intended to signify a link that takes
 *  you away from onionsamson.com.
 *
 *  The image is encoded in base64 and included inline in the CSS.  This
 *  reduces the number of requests by one, and means it'll be cached
 *  when the CSS file is cached.
 */
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAYBAMAAAAfR1CMAAAAIVBMVEUAAADo8PgAAAD4LICAgMhoZ7BHSIgCyAAA+AABgAC4HFADhU5xAAAAAXRSTlMAQObYZgAAAKpJREFUGNNd0D0KwzAMBWCRqRlF3aVT8vqzB/cExblAwD1AT+Cta7ekJygZC516yjoStiFvkPh4AoNJUyEOgFLaKwC+5xYHZt6pgZZ5a5l7ddRiy+bWZLO1NjmWmpUv6irZJLOwK45ID4p/He8/xmUb59y3914dC78EgLj3A6AQAw2d5bTktPJx0F0+RNacXJkmzjoIgrqmN6ln7cOD5GgM6tco9WYi9fSkPy++Jrqs78dLAAAAAElFTkSuQmCC);
    margin:  0;                           /* Tightens this up nicely. */
    padding: 0;                           /* Tightens this up nicely. */
}

a.copyright-link::after {
/*  This adds the longer Copyright statement as a default.  It will
 *  display the full version *unless* the criteria of the @media query
 *  immediately below is met, in which case it uses that text instead.
 */
    content: " © Onion Samson 2011–2020";
    color: var(--Onyx);
}
    @media screen and (max-width: 768px) {
    /*  This @media query shortens the Copyright text when displaying on
     *  device with a width of less than 769px.  It works dynamically
     *  and can be tested by shrinking the browser's window width.  It
     *  inherits its colour information from the regular ::after code.
     */
        a.copyright-link::after {
            content: " © 2020";
        }
    }
