    @font-face {
        font-family: 'PxPlusIBMVGA8';
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        src: local('PxPlusIBMVGA8'),
             url("https://onionsamson.com/fonts/systems/dos.woff2") format("woff2"),
             url("https://onionsamson.com/fonts/systems/dos.woff")  format("woff"),
             url("https://onionsamson.com/fonts/systems/dos.ttf")   format("truetype"),
             url("https://onionsamson.com/fonts/systems/dos.eot")   format('embedded-opentype');
}
