body {
        font-size: 14pt;
        font-weight: 400;
        font-family: 'IBM Plex Serif', serif;
        line-height: 22pt;
    }

h1 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 26pt;
        font-weight: 700;
        line-height: 32pt;
    }

h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 22pt;
        font-weight: 700;
        line-height: 28pt;
    }

h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 18pt;
        font-weight: 700;
        line-height: 24pt;
    }

h4 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16pt;
        font-weight: 700;
        line-height: 22pt;
    }

h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14pt;
        font-weight: 700;
        line-height: 20pt;
    }


p+p {
        margin-top: -10pt;
        text-indent: 28pt;
    }


abbr {
        border-bottom: 1px dotted #9a8f97;
    }

