:root {
/*  Setting colour scheme variables for use in the CSS file.  Easier to
 *  call these by name using 'var(--Orange-Samson)' than to remember all
 *  the colour hex codes and try to decipher them while working on the
 *  CSS file itself.  It also means we can update entire colours with
 *  a few changes here.
 *
 *  For simplicity, I've also added descriptive alternate names for each
 *  colour option.  We should probably stick to using the full colour
 *  name rather than the descriptive one, but it's an option.
 */
    --Orange-Samson:   #ff7b00;     /* Signature colour: links. */
        --links:       #ff7b00;
    --Onyx:            #313533;     /* Sunlit text; Knightshade BG. */
        --light-text:  #313533;
        --dark-bg:     #313533;
    --Lavender-Blush:  #fef9f5;     /* Background in Sunlit Shallot. */
        --light-bg:    #fef9f5;
    --Misty-Rose:      #f9e0d9;     /* Text in Knightshade; some BGs. */
        --dark-text:   #f9e0d9;
    --Minion-Yellow:   #ffe74c;     /* :active state for links. */
        --link-active: #ffe74c;
    --Heliotrope-Gray: #9a8f97;     /* Backgrounds and borders. */
        --border:      #9a8f97;
        --grey-bg:     #9a8f97;
    --Vivid-Tangerine: #ffa69e;     /* Text highlight colour. */
        --highlight:   #ffa69e;
}
