/*

 ██╗    ██╗███████╗██████╗     ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
 ██║    ██║██╔════╝██╔══██╗    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
 ██║ █╗ ██║█████╗  ██████╔╝    █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
 ██║███╗██║██╔══╝  ██╔══██╗    ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
 ╚███╔███╔╝███████╗██████╔╝    ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
  ╚══╝╚══╝ ╚══════╝╚═════╝     ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝

                 ONIONSAMSON.COM serves all its own webfonts.
              These are used in accordance with their licenses.
                License details are included in this CSS file.
*/

/*
 *  ╔═╗╔╗╔╦╔═╗╔╗╔  ╔═╗╔═╗╔╦╗╔═╗
 *  ║ ║║║║║║ ║║║║  ╚═╗╠═╣║║║╚═╗
 *  ╚═╝╝╚╝╩╚═╝╝╚╝  ╚═╝╩ ╩╩ ╩╚═╝
 *  Onion Sams is font used for the site's logotype.
 *
 *  This is a limited character-set derivation of the font Pacifico,
 *  which was made by Vernon Adams in 2011.  This derivation was made by
 *  koralatov using FontLab VI and converted into webfont format using
 *  https://www.font-converter.net/en
 *
 *  OnionSams is licensed under the SIL Open Font License:
 *  https://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web
 *
 *  This license does not extend to any other parts of this website.
 */

@font-face {
    font-family: 'OnionSams-Regular';
    font-weight:  400;
    font-style:   normal;
    font-display: swap;
    src: local('OnionSams-Regular'),
         url('https://onionsamson.com/fonts/onionsams/regular.woff2') format('woff2'),
         url('https://onionsamson.com/fonts/onionsams/regular.woff')  format('woff'),
         url('https://onionsamson.com/fonts/onionsams/regular.ttf')   format('truetype'),
         url('https://onionsamson.com/fonts/onionsams/regular.eot')   format('embedded-opentype');
         }


/*
 *  ╔═╗╔╗╔╦╔═╗╔╗╔  ╦  ╦╔═╗╔╦╗╔═╗
 *  ║ ║║║║║║ ║║║║  ╚╗╔╝╠═╣║║║╠═╝
 *  ╚═╝╝╚╝╩╚═╝╝╚╝   ╚╝ ╩ ╩╩ ╩╩
 *  Onion Vamp is font used for the site's logotype in dark mode.
 *
 *  This is a limited character-set derivation of the font Vampiro One,
 *  which was made by Riccardo De Franceschi for Sorkin Type Co.  This
 *  derivation was made by koralatov using FontLab VI and converted into
 *  webfont format using https://www.font-converter.net/en
 *
 *  Onion Vamp is licensed under the SIL Open Font License:
 *  https://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web
 *
 *  This license does not extend to any other parts of this website.
 */

@font-face {
    font-family: 'OnionVamp';
    font-weight:  400;
    font-style:   normal;
    font-display: swap;
    src: local('OnionVamp-Regular'),
         url('https://onionsamson.com/fonts/onionvamp/regular.woff2') format('woff2'),
         url('https://onionsamson.com/fonts/onionvamp/regular.woff')  format('woff'),
         url('https://onionsamson.com/fonts/onionvamp/regular.ttf')   format('truetype'),
         url('https://onionsamson.com/fonts/onionvamp/regular.eot')   format('embedded-opentype');
         }


/*
 *  ╦═╗╔═╗╔╦╗╦═╗╔═╗  ╔═╗╦ ╦╔═╗╔╦╗╔═╗╔╦╗╔═╗
 *  ╠╦╝║╣  ║ ╠╦╝║ ║  ╚═╗╚╦╝╚═╗ ║ ║╣ ║║║╚═╗
 *  ╩╚═╚═╝ ╩ ╩╚═╚═╝  ╚═╝ ╩ ╚═╝ ╩ ╚═╝╩ ╩╚═╝
 *  Specific fonts for specific retro codeblocks.
 */

/*
 *  Amiga Topaz is the font used for Amiga code blocks.
 *
 *  This font was made by Patrick Lauke (redux) in 2012 and is licensed
 *  under Creative Commons Attribution-Unported 3.0 License:
 *  http://creativecommons.org/licenses/by/3.0/
 *
 *  It's available to download from Fontstruct here:
 *  http://fontstruct.com/fontstructions/show/675155
 *
 *  This license does not extend to any other parts of this website.
 *
 *  Webfonts made by koralatov with https://www.font-converter.net/en
 */

@font-face {
    font-family: 'Amiga Topaz';
    font-weight:  normal;
    font-style:   normal;
    font-display: swap;
    src: local('Amiga Topaz'),
         url('https://onionsamson.com/fonts/systems/amiga.woff2') format('woff2'),
         url('https://onionsamson.com/fonts/systems/amiga.woff')  format('woff'),
         url('https://onionsamson.com/fonts/systems/amiga.ttf')   format('truetype'),
         url('https://onionsamson.com/fonts/systems/amiga.eot')   format('embedded-opentype');
}

/*
 *  PxPlusIBMVGA8 is the font used for DOS code blocks.
 *
 *  This font was made by VileR in 2016 and is licensed under a
 *  Creative Commons Attribution-ShareAlike 4.0 International License
 *  https://creativecommons.org/licenses/by-sa/4.0/
 *
 *  It's available to download from the Oldschool PC Font Resource here:
 *  https://int10h.org/oldschool-pc-fonts/fontlist/
 *
 *  This license does not extend to any other parts of this website.
 *
 *  Webfonts made by koralatov with https://www.font-converter.net/en
 */

@font-face {
    font-family: 'PxPlusIBMVGA8';
    font-weight:  normal;
    font-style:   normal;
    font-display: swap;
    src: local('PxPlusIBMVGA8'),
         url('https://onionsamson.com/fonts/systems/dos.woff2') format('woff2'),
         url('https://onionsamson.com/fonts/systems/dos.woff')  format('woff'),
         url('https://onionsamson.com/fonts/systems/dos.ttf')   format('truetype'),
         url('https://onionsamson.com/fonts/systems/dos.eot')   format('embedded-opentype');
}

/*
 *  VT323 is the font used for generic 'retro' code blocks.
 *
 *  This font was made by Peter Hull who says it "was created from the
 *  glyphs of the DEC VT320 text terminal, which I used in college, and
 *  for which I have retained an unaccountable nostalgia."
 *
 *  You can read a little more about this font's creation at its page
 *  on Google Fonts: https://fonts.google.com/specimen/VT323#about
 *  It's also available to download from that page.
 *
 *  This font is licensed under the SIL Open Font License:
 *  https://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web
 *
 *  This license does not extend to any other parts of this website.
 */

@font-face {
    font-family: 'VT323';
    font-weight:  400;
    font-style:   normal;
    font-display: swap;
    src: local('VT323 Regular'),
         local('VT323-Regular'),
         url('https://onionsamson.com/fonts/systems/retro.woff2') format('woff2'),
         url('https://onionsamson.com/fonts/systems/retro.woff')  format('woff'),
         url('https://onionsamson.com/fonts/systems/retro.ttf')   format('truetype'),
         url('https://onionsamson.com/fonts/systems/retro.eot')   format('embedded-opentype');
}

/*
 *  November is the font used for generic green 'retro' code blocks.
 *
 *  This font was made by Tepid Monkey, and is available here:
 *  https://www.1001fonts.com/november-font.html
 *
 *  Its license releases the font for use "freely for commercial and
 *  non-commercial purposes".  A full copy of its license can be found
 *  in the zip file available at 1001 Fonts.
 *
 *  This license does not extend to any other parts of this website.
 *
 *  Webfonts made by koralatov with https://www.font-converter.net/en
 */

@font-face {
    font-family: 'November';
    font-weight:  400;
    font-style:   normal;
    font-display: swap;
    src: local('November'),
         url('https://onionsamson.com/fonts/systems/november.woff2') format('woff2'),
         url('https://onionsamson.com/fonts/systems/november.woff')  format('woff'),
         url('https://onionsamson.com/fonts/systems/november.ttf')   format('truetype'),
         url('https://onionsamson.com/fonts/systems/november.eot')   format('embedded-opentype');
}
